<!-- TODO create thymeleaf html fragment for displaying a task-->
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="test">
    <h3>
        This is a test fragment
    </h3>
</div>

<span th:fragment="tasks_active">
    <div th:each="taskActive: ${todayTasksActive}">

            <div class="col s6 ">
              <div class="card green darken-4">
                <div class="card-content white-text">
                  <span class="card-title" th:text="${taskActive.name}">Name</span>
                  <p th:text="${taskActive.description}">decription goes here</p>
                  <p th:text="${taskActive.daysFailed}">daysFailed</p>
                </div>
                <div class="card-action" th:insert="fragments :: nav_taskActive"></div>
              </div>
        </div>

    </div>
</span>

<span th:fragment="tasks_finished">
    <div th:each="taskFinished: ${todayTasksFinished}">

            <div class="col s6">
              <div class="card green darken-4">
                <div class="card-content white-text">
                  <span class="card-title" th:text="${taskFinished.name}">Name</span>
                  <p th:text="${taskFinished.description}">decription goes here</p>
                </div>
                <div class="card-action" th:insert="fragments :: nav_taskFinished"></div>
              </div>
        </div>

    </div>
</span>

<span th:fragment="nav_taskActive">
    <button class="btn waves-effect waves-light blue" th:onclick="javascript:callCompleteTask([[${taskActive}]])"> <i class="material-icons left">done_outline</i> Complete task</button>
    <button class="btn waves-effect waves-light red" th:onclick="javascript:callDeleteTask([[${taskActive}]])"> <i class="material-icons left">delete_outline</i> Delete </button>
</span>

<span th:fragment="nav_taskFinished">
    <button class="btn waves-effect waves-light orange" th:onclick="javascript:callUncompleteTask([[${taskFinished}]])"><i class="material-icons left">undo</i> Mark as not completed </button>
    <button class="btn waves-effect waves-light red" th:onclick="javascript:callDeleteTask([[${taskFinished}]])" ><i class="material-icons left">delete_outline</i> Delete </button>
</span>

<span th:fragment="failure_indicator">
    <pre> 💩 </pre>
</span>

</html>